@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
  /* margin: 0;
    padding: 0; */
  background-color: #24252a;
}

hr {
  border: 1px solid rgb(79, 200, 211);
}

li,
a,
button,
.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  font-weight: bold;
}

header {

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}

.heading {
  cursor: pointer;
  margin-right: auto;
}

.nav_links li {
    position: inherit;
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(79, 200, 211);
  /* text-decoration: underline #edf0f1; */
}

.active {
  color: rgb(79, 200, 211);
  text-decoration: underline #edf0f1;
}

button {
    position: inherit;
  font-size: large;
  background-color: rgb(79, 200, 211);
  color: #24252a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(79, 200, 211, 0.8);
}

.homecont {
  display: flex;
  flex-direction: row;
  /* background-color:aqua; */
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
}

@media (max-width: 800px) {
  .homecont {
    flex-direction: column;
  }
}

.indiv1,
.indiv2 {
  text-align: start;
  width: 100%;
  height: 100%;
}


.headingtext {
  font-size: larger;
  font-weight: bolder;
  position: relative;
}

.headingname {
  color: rgb(79, 200, 211);
}

.mailbtn {
  font-size: x-large;
  background-color: rgb(79, 200, 211);
  color: #24252a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.homeimg {
    position: inherit;
  border: none;
  border-radius: 5%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #24252a;
  background-color: rgb(79, 200, 211);
  margin-top: 3%;
  font-weight: bold;  
}

.footitm {
  background-color: rgb(79, 200, 211);
  padding-bottom: 1%;
}

.footheading {
  font-size: xx-large;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(79, 200, 211);
}


.aboutheading{
    margin-top: 2%;
    text-align: center;
    color: rgb(79, 200, 211);
    text-decoration: underline #edf0f1;
    text-underline-position: under;
    /* border-bottom: solid #edf0f1; */
    font-family: "Montserrat", sans-serif;
}

.aboutimg{
  border: none;
  border-radius: 5%;
  width: 60%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-desc{
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

.about-highlight{
  color: rgb(79, 200, 211);;
}

.skillscont{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.skillshead, .inskills{
  padding-bottom: 3%;
  display: inline-block;
  width: 70%;
}

.skillshead{
  font-size: x-large;
  font-weight: bold;
}


.inskills{
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color:#24252a;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
  box-shadow: 0 4px 25px rgba(79, 200, 211, 0.15);
  display: flex;
  align-items: center;
}

.tools{
  padding-left: 2%;
}

.skillsimg{
  width: 90%;
}

@media (max-width: 600px) {
  .footheading{
    font-size: x-large;
  }
  .footitm{
    font-size: small;
  }
}
